@import "variables.scss";

/* AREA FOOTER */
footer {
	width: $total-width;
	margin: 2rem 0rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	.redesNav {
		padding: 1.7rem 0rem;
		a {
			img {
				width: 20px;
				height: 20px;
				padding: 0rem 0.05rem;
				margin-left: 0.2rem;
			}
		}
	}
    .logoFooter {
        width: 4rem;
        height: 5rem;
    }
    p {
        color: $color-blanco;
        padding: 0rem 1rem;
        font-weight: 100;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
        text-align: center;
    }
}



